<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sporcenter.Properties.Settings.dbsporcenterConnectionString"
            connectionString="Data Source=LAPTOP-E07ISON9\SQLEXPRESS;Initial Catalog=dbsporcenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sporcenter.Properties.Settings.dbsporConnectionString"
            connectionString="Data Source=LAPTOP-E07ISON9\SQLEXPRESS;Initial Catalog=dbspor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>